@(username: String)(implicit request: RequestHeader)

@main(Some(username)) {
    <div ng-controller="chatRoomAppController">
        <div class="page-header">
            <h1>Welcome to the chat room <small>You are chatting as @username</small></h1>
        </div>
        
        <div id="onError" class="alert-message error" ng-show="error">
            <p>
                <strong>Oops!</strong> <span>{{error}}</span>
            </p>
        </div>
        
        <div id="onChat" class="row" ng-hide="error">
            <div class="span10" id="main">
                <div id="messages">
                    <div class="message {{msg.kind}}" ng-class="{me: msg.me}" ng-repeat="msg in messages">
                      <span>{{msg.user}}</span> <p>{{msg.trackName}}, {{msg.trackTimeMillis|number}}[msec]</p>
                    </div>
                </div>
            </div>
            <div class="span4">
                <h2>Members</h2>
                <ul id="members">
                    <li ng-repeat="member in members">{{member}}</li>
                </ul>
                <div ng-controller="SuggestCtrl">
                    <h2>Input Song Name!!</h2>
                    <input type="text" name="track" id="track" ng-model="term" ng-Keyup="suggest()">
                    <div id="trackSuggest">
                        <ul>
                            <li ng-repeat="track in tracks">
                                <span ng-click="addTrack(track)">{{track.trackName}} / {{track.artistName}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8" src="@routes.Application.chatRoomJs(username)"></script>
    <script type="text/javascript" charset="utf-8" src="/assets/javascripts/suggest.js"></script>
}
